<div class="container-fluid" style="padding-top:2vw ; background-color: white;">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-sm-12 col-md-6	col-lg-6 col-xl-6 quality">
        <h2>Why Internship ?</h2>
        <img src="./Images/1.svg">
        <ul style="text-align: justify; padding: 0 10px; margin: 0 15px;">
          <li>Internships are the best platform for applying our theoretical knowledge to practical world.</li>
          <li>With internships, find the perfect field of study for yourself and clear the cloud of
            confusion about the perfect career path.
          </li>
          <li>Inculcate professionalism,character growth, networking and various other soft skills.
          </li>
        </ul>
      </div>
      <div class="col-12	col-sm-12	col-md-6	col-lg-6	col-xl-6 quality">
        <h2>Why Startups ?</h2>
        <img src="./Images/2.svg">
        <ul style="text-align: justify; padding: 0 10px; margin: 0 15px;">
          <li>Get noticed by being an important member of a small team.</li>
          <li>Develop a pioneering mindset of innovative people around.</li>
          <li>See your brilliant ideas turn into reality by working in such a active place.</li>
          <li>Live in a lively enviroment close to people with zeal and determination to do their best.</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 quality">
        <h2>Why Inferploy?</h2>
        <img src="./Images/3.svg">
        <p style="text-align: justify;">
                    INFERPLOY is going to connect startups all over india exclusively to high school students. We are planning to
          help both students and startups to grow in this process with our meticulously designed curriculum, solving
          both major problems in the startup industry as well as the education industry simultaneously. INFERPLOY in its
          initial stages is going to operate through an easily accessible website where all students can openly check
          out all startups and apply as well as startups can apply to be a part of our community.

        </p>
      </div>
    </div>
  </div>
</div>